{% load static %}
{% static "images" as baseUrl %}



<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Masonry Responsive Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- 
        Masonry Template 
        http://www.templatemo.com/preview/templatemo_434_masonry
        -->
    </head>
    <body>
        
        
        
        <!-- MAIN POSTS -->
        <div class="main-posts">
            <div class="container">
                <div class="row">
                  {% for meme in memes %}
                  <div class="blog-masonry masonry-true">
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="post-thumb">
                            <img src={{meme.imageURL}} alt="">
                            <div class="title-over">
                                <h4><a href="#">Title one goes here</a></h4>
                            </div>
                            <div class="post-hover text-center">
                                <div class="inside">
                                    <i class="fa fa-plus"></i>
                                    <span class="date">25 Jan 2084</span>
                                    <h4><a href="#">Title one goes here</a></h4>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.post-masonry -->
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="post-thumb">
                            <img src={{meme.imageURL}} alt="">
                            <div class="title-over">
                                <h4><a href="#">Second Image Title</a></h4>
                            </div>
                            <div class="post-hover text-center">
                                <div class="inside">
                                    <i class="fa fa-plus"></i>
                                    <span class="date">24 Jan 2084</span>
                                    <h4><a href="#">Second Image Title</a></h4>
                                    <p>Donec venenatis libero sapien, eu condimentum lacus</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.post-masonry -->
                    <div class="post-masonry col-md-4 col-sm-6">
                        <div class="post-thumb">
                            <img src={{meme.imageURL}} alt="">
                            <div class="title-over">
                                <h4><a href="#">Image Number Three</a></h4>
                            </div>
                            <div class="post-hover text-center">
                                <div class="inside">
                                    <i class="fa fa-plus"></i>
                                    <span class="date">23 Jan 2084</span>
                                    <h4><a href="#">Image Number Three</a></h4>
                                    <p>Sed vitae lacus eget ipsum scelerisque condimentum</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                  {% endfor %}
                </div>
            </div>
        </div>

        

        <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/min/plugins.min.js' %}"></script>
        <script src="{% static 'js/min/main.min.js' %}"></script>

        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $('#loader').fadeOut(); // will first fade out the loading animation
                    $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>
	<!-- templatemo 434 masonry -->
    </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>MEME BOOK</title>
        <body>
          {% for meme in memes %}
          <p>{{meme.id}}  {{meme.userName}}  {{meme.caption}} <br></p>
          <img src= {{meme.imageURL}}>
          {% endfor %}
<html lang="en">
    <head>
        <title>MEME BOOK</title>
        <body>
          {% for meme in memes %}
          <p>{{meme.id}}  {{meme.userName}}  {{meme.caption}} <br></p>
          <img src= {{meme.imageURL}}>
          {% endfor %}
        </body>
        

          

    </head>
</html>